<header id="cb-shell-header" dir="rtl">
    <nav>
        <h1>
            <a href="/">
                <img class="header-logo" src="/public/img/aws-elastic-cache.svg" alt="" width="166" height="25" style="height:50px; padding-top:5px; padding-bottom:5px;">
            </a>
        </h1>
        <form action=""></form>
        <div class="menu-toggle">
            <span class="icon-hamburger-menu"></span>
        </div>
        <ul class="main-nav">
            <li class="mn1">
                <a class="spare_1">قائمة رقم 1</a>
                <ul class="spare_1_menu">
                    <li></li>
                </ul>
            </li>
            <li class="mn2">
                <a class="spare_2">قائمة رقم 2</a>
                <li></li>
            </li>
            <li class="oauth not-signed-in">
                <a class="sign-in">دخول</a>
                <a class="signed-in icon-user-email"></a>
                <ul class="user-menu">
                    <div>
                        ديف
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                    </div>
                    <div>
                        ديف
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                        <li><a class="tracking-user-menu-link" href="#">رابط</a></li>
                    </div>
                    <div>
                        <li><a href="#" class="sign-out">تسجيل الخروج</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main></main>

<footer></footer>