<div class="cb-signup-wrapper">
  <h2 class="page-header">Account Login</h2>
  <div class="cb-signup-error"></div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email or Phone number">
    </div>
    <div class="form-group">
      <label for="unique_key">User</label>
      <input type="text" class="form-control" name="unique_key" placeholder="Email or Phone number">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password2" placeholder="reenter Password">
    </div>
    <button type="submit" class="submit-btn btn btn-default">Submit</button>
  </form>
</div>